<ion-header>
  <ion-navbar [hideBackButton]="true">
    <ion-title>cloudBurst Rapid ToDo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
  <h4 class="login-msg">Begin each day with a clean dashboard.</h4>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
    <h4 class="signin">Login:</h4>
    <ion-item>
      <ion-label floating color="default">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label floating color="default">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <button class="submit-btn" color="secondary" ion-button block type="submit" [disabled]="!validations_form.valid">Log In</button>
    <label class="error-message">{{errorMessage}}</label>
  </form>
  <p class="go-to-register">
    Don't have an account?
    <a (click)="goRegisterPage()">Create one!</a>
  </p>
</ion-content>