page-login {
  .error-message
  {
   color: #bf3e3e;
  }

  .form {
    margin-top: 20%;
  }

  .go-to-register
  {
    text-align: center;
    margin-top: 20px;
  }

  .login-msg {
    color: #00cc13;
  }

  .signin {
   padding-left: 2%;
   position: relative;
  }

  .submit-btn
  {
    border-radius: 6px;
	  font-size: 1.6rem;
    font-weight: 500;
  }
  // changes nav-bar bg color
.toolbar-background {
  background-color: #00cc13;
}

// changes nav-bar text color
.toolbar-title-md {
  color: white;
}
}


