.submit-btn
{
  border-radius: 6px;
    font-size: 1.6rem;
  font-weight: 500;
}
  
  // changes nav-bar bg color
  .toolbar-background {
    background-color: #00cc13;
  }

  // changes nav-bar text color
.toolbar-title-md {
  color: white;
}

